html {
  background-color: #e6e9ec;
}

.title {
  font-weight: 400;
}

.title span {
  font-weight: 700;
}

input {
  border: 2px solid black;
  color: gray;
}

.btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

ul {
 
}